/* colors */
:root {
    --forest-green: #3A6A59;
    --sage: #A7A88A;
    --beige: #D6C18A;
    --sage-green: #9DA993;
    --misty-blue: #E3E8E9;
    --rosewater: #E4B4B4;
}

/* fonts */
@font-face {
    font-family: 'existencelight';
    src: url('./fonts/existence-light-webfont.woff2') format('woff2'),
         url('./fonts/existence-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seasideresortnfregular';
    src: url('./fonts/seasrn__-webfont.woff2') format('woff2'),
         url('./fonts/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('./fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fff_tusjbold';
    src: url('./fonts/fff_tusj-webfont.woff2') format('woff2'),
         url('./fonts/fff_tusj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

input, button {
    appearance: none;
    border: none;
    font-size: 100%;
    font-family: inherit;
}

input {
    width: 100%;
}

/* body */
body {
    font-family: 'existencelight';
    background-color: var(--forest-green);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

/* header */
h1 {
    font-family: 'seasideresortnfregular';
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
}

/* game settings */
#game-settings {
    background-color: var(--forest-green);
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 3.5rem;
    grid-template-columns: min-content min-content;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}

.player {
    display: grid;
    border: 10px double black;
    border-radius: 1em;
    background-color: var(--sage-green);
    color: black;
    padding: 2em;
    gap: 1em;
    width: 17em;
}

.player > div:first-child {
    font-size: 1.5em;
    text-shadow: 2px 0 1px var(--rosewater);
}

.name-container {
    height: 3em;
}

.name-error-message,
#fighter-error-message {
    color: red;
    font-size: 0.7em;
    font-family: 'source_sans_proregular';
}

/* fighter settings */
.fighter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
} 

.fighter-container > div {
    grid-column: 1 / 3;
}

.fighter-button {
    background-color: var(--misty-blue);
    border-radius: 1em;
    font-size: 2em;
}

.fighter-button:hover {
    cursor: pointer;
}

/* start game */
#start-game-wrapper {
    grid-column: 1 / 3;
    display: grid;
    justify-items: center;
}

#start-game-button {
    padding: 0.2em 1em;
    border-radius: 1em;
    background-color: var(--misty-blue);
    align-self: start;
    font-size: 1.5em;
}

#start-game-button:hover {
    cursor: pointer;
    background-color: #B6BABA;
}

/* game-main */
#game-main {
    display: grid;
    grid-template-rows: 1fr 1fr min-content;
    grid-template-columns: min-content min-content;
    grid-template-areas: 
        "player-one gameboard"
        "player-two gameboard"
        "results results";
    justify-content: center;
    gap: 1rem;
}

/* display player info */
#player-one-info {
    grid-area: player-one;
}

#player-two-info {
    grid-area: player-two;
}

#player-one-info,
#player-two-info {
    background-color: var(--sage);
    border: 1rem ridge black;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    color: black;
}

.fighter {
    font-size: 3rem;
    font-family: 'fff_tusjbold';
}

/* game-container */
#game-container {
    grid-area: gameboard;
    display: grid;
    grid-template-rows: repeat(3, 6rem);
    grid-template-columns: repeat(3, 6rem);
    padding: 1rem;
    background-color: var(--sage-green);
    border: 1rem groove black;
    color: black;
}

#game-container > div {
    font-family: 'fff_tusjbold';
    font-size: 4rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

#game-container > :not(div:nth-child(3n)) {
    border-right: 5px solid black;
}

#game-container > div:nth-child(n + 4) {
    border-top: 5px solid black;
}

/* results */
#results {
    grid-area: results;
    text-align: center;
    padding-bottom: 2rem;
}

#new-game-button,
#start-over-button {
    background-color: var(--misty-blue);
    margin-top: 0.2rem;
    padding: 0.2rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}

#new-game-button:hover,
#start-over-button:hover {
    cursor: pointer;
    background-color: #B6BABA;
}

/* footer */
footer {
    margin-top: auto;
    text-align: center;
}

/* toggle classes */
.active-fighter {
    background-color: #7D8080;
}

.active-player {
    background-color: yellow !important;
}

.hide {
    display: none !important;
}

/* media queries */
@media(max-width: 900px) {
    html {
        font-size: 20px;
    }
}

@media(max-width: 750px) {
    #game-main {
        grid-template-rows:repeat(3, min-content);
        grid-template-columns: repeat(2, min-content);
        grid-template-areas: 
            "player-one player-two"
            "gameboard gameboard"
            "results results";
    }

    #game-settings {
        grid-template-rows: min-content;
        grid-template-columns: min-content;
    }

    #start-game-wrapper {
        grid-column: 1 / 2;
    }

    #game-container {
        justify-content: center;
    }
}

@media(max-width: 600px) {
    /* exlude settings */
    html {
        font-size: 16px;
    }
    
    #game-settings {
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    /* exlude settings */
    html {
        font-size: 14px;
    }

        #game-settings {
        font-size: 18px;
    }
}